@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --transparent: transparent;
  --black: #212121;
  --white: #FFFDF7;
  --blue: #6798C0;
  --yellow: #F8C521;
  --red: #FE3D42;
  --skyWhite: #E7E6E4;
  --skyBlack: #2F2F2F;
  --blackPlaceholder: #70706F;
  --whitePlaceholder: #ACABA7;
  --gray: #7E7D7D;
  --10: 0.625rem;
  --12: 0.75rem;
  --14: 0.875rem;
  --16: 1rem;
  --18: 1.125rem;
  --20: 1.25rem;
  --24: 1.5rem;
  --48: 3rem;

  background-color: var(--white2Balck);
  color: var(--black);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --skyBlue: #CCEAF1;
  --skyYellow: #FEEBAA;
  --skyRed: #FF8786;
  --white2Balck: #FFFDF7;
  --black2White: #212121;
  --skyBlack2SkyBlack: #E7E6E4;
}

[data-theme="dark"] {
  --skyBlue: #3D5161;
  --skyYellow: #776321;
  --skyRed: #792C2E;
  --white2Balck: #212121;
  --black2White: #FFFDF7;
  --skyBlack2SkyBlack: #2F2F2F;
}