@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "merriweather-sans-bold";
  src: local("merriweather-sans"), url("./shared/assets/fonts/merriweather-sans/MerriweatherSansBold.ttf") format("truetype");
}

@font-face {
  font-family: "merriweather-sans-regular";
  src: local("merriweather-sans"), url("./shared/assets/fonts/merriweather-sans/MerriweatherSansRegular.ttf") format("truetype");
}

@font-face {
  font-family: "khula-regular";
  src: local("khula"), url("./shared/assets/fonts/khula/KhulaRegular.ttf") format("truetype");
}

@font-face {
  font-family: "khula-semi-bold";
  src: local("khula"), url("./shared/assets/fonts/khula/KhulaSemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "heebo-regular";
  src: local("heebo"), url("./shared/assets/fonts/heebo/HeeboRegular.ttf") format("truetype");
}

@font-face {
  font-family: "heebo-medium";
  src: local("heebo"), url("./shared/assets/fonts/heebo/HeeboMedium.ttf") format("truetype");
}

@font-face {
  font-family: "heebo-semi-bold";
  src: local("heebo"), url("./shared/assets/fonts/heebo/HeeboSemiBold.ttf") format("truetype");
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

:root{
  --transparent: transparent;
  --black: #212121;
  --white: #FFFDF7;
  --blue: #6798C0;
  --yellow: #F8C521;
  --red: #FE3D42;
  --green: #4CAF50;
  --orange: #FFA500;
  --intermediate1: #FD5537;
  --intermediate2: #FB7731;
  --intermediate3: #F9A02A;
  --intermediate4: #D8AE2F;
  --intermediate5: #A7893F;
  --intermediate6: #758E45;
  --skyWhite: #DEDEDE;
  --skyBlack: #2F2F2F;
  --blackPlaceholder: #70706F;
  --whitePlaceholder: #ACABA7;
  --gray: #7E7D7D;
  --10: 0.625rem;
  --12: 0.75rem;
  --14: 0.875rem;
  --16: 1rem;
  --18: 1.125rem;
  --20: 1.25rem;
  --24: 1.5rem;
  --48: 3rem;

  color: var(--black);
  margin: 0;
  animation-duration: 0.5s;
  transition-duration: 0.5s;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --skyBlue: #CCEAF1;
  --skyYellow: #FEEBAA;
  --skyRed: #FF8786;
  --white2black: #FFFDF7;
  --black2white: #212121;
  --skyWhite2skyBlack: #DEDEDE;
  --skyBlack2skyWhite: #2F2F2F;
  --placeholder: #7C7C7C;
}

[data-theme="dark"] {
  --skyBlue: #3D5161;
  --skyYellow: #776321;
  --skyRed: #792C2E;
  --white2black: #212121;
  --black2white: #FFFDF7;
  --skyWhite2skyBlack: #2F2F2F;
  --skyBlack2skyWhite: #DEDEDE;
  --placeholder: #979693;
}